$white: #ffffff;
$black: #000000;

$mc-1: #bc4595;
$mc-2: #84499a;
$mc-3: #f49b92;
$mc-4: #232649;
$mc-5: #007ad8;
$mc-6: #d6f0ff;
$mc-7: #ff8a65;
$mc-8: #f2f2f2;
$mc-9: #0a473d;
$mc-10: #cef7dc;
$mc-11: #8e8e8e;

$gr-1: linear-gradient(to right, $mc-2, $mc-3);