html {
  @media(max-width: 991px) {
    font-size: 14px;
  }
  overflow-x: hidden;
}

body {
  font-family: 'motiva_sansregular' !important;
  background-color: $white;
}

.nav-b {
  background-color: rgba(255,255,255,.4) !important;

  &__container {
    @media(max-width: 991px) {
      display: grid !important;
      grid-template-columns: 70px auto 70px;
    }
  }

  &__main-menu-container {
    @media(max-width: 991px) {
      grid-column: 1/4;
    }
  }
}

.info-belt-b {
  @include font(19);
  background-color: rgba(255, 255, 255, 0.3) !important;

  &__highlight {
    font-family: 'motiva_sansmedium';
  }
}

.main-menu-b {
  &__link {
    color: $mc-4 !important;
    @include font(24);
    font-family: 'motiva_sansmedium';

    &--last {
      padding: 6px 44px !important;
      @include font(28);
      font-family: 'motiva_sansregular';
    }
  }
}

.main-slider-b {
  @media(max-width: 991px) {
    padding: 70px 0;
  }

  .theSame {
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
  }

  &__prev-btn {
    left: -50px;
    @extend .theSame;
  }

  &__next-btn {
    right: -50px;
    @extend .theSame;
  }

  &__content-container {
    @media(min-width: 992px) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__title {
    @include font(65);
    max-width: 900px;

    @media(max-width: 991px) {
      @include font(40);
    }

    @media(min-width: 992px) {
      font-family: 'motiva_sansextrabold';
    }
  }

  &__highlight {
    font-family: 'motiva_sansextrabold';
  }
}

.top-rated-b {
  @include font(24);

  &__title {
    @include font(64);
    font-family: 'motiva_sansextrabold';
    color: $mc-1;

    @media(max-width: 991px) {
      @include font(32);
    }
  }

  &__subtitle {
    font-family: 'motiva_sansextrabold';
    @include font(60);

    @media(max-width: 991px) {
      @include font(30);
    }
  }
}

.call-box-b {
  @include font(24);

  &__title {
    @include font(32);
    font-family: 'motiva_sansextrabold';

    @media(max-width: 991px) {
      margin-left: 10px;
      display: inline-block;
    }
  }
}

.phone-promo-b {
  max-width: 1200px;
  background-color: $mc-5;
  z-index: 1;

  &__title {
    @include font(60);
    font-family: 'motiva_sansextrabold';

    @media(max-width: 991px) {
      @include font(32);
    }
  }
}

.cta-b {
  margin-top: -170px;
  padding: 240px 0 100px;
  background-color: $mc-6;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
}

.img-bg-container-b {
  min-height: 316px;
  background-image: url('../public/images/bg-mobile.png');
}

.the-world-b {
  &__title {
    margin-top: 90px;
    @include font(64);
    font-family: 'motiva_sansextrabold';

    @media(max-width: 991px) {
      @include font(32);
      margin-top: 0;
    }
  }

  &__subtitle {
    color: $mc-5;
  }

  &__content {
    @include font(24);
  }
}